@tailwind base;
@tailwind components;
@tailwind utilities;

/* navigation styles */

.headerContents{
    height: 15%;
    color: rgb(26, 26, 114);
}
.hero, .join-the-community{
    background-color: rgb(26, 26, 114);
    height: 85%;
    color:white;
}
.hero-on-signup{
    background-color: white;
    color: black;
}
.catch-phrase-text{
    line-height: 1.3;
}
